*{
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
  }
  
  body {
   min-height: 300px;
    /*background-color: rgb(226, 228, 231);*/
   
    
  }

.jumbotron {
 
 margin: 70px;
 margin-left: 250px;
 width: 70%;
 height: 700px;
border-radius: 10px;
 
}

.jumbotron img {
    height: 100%;
    width: 100%;
    margin: 0 50px;
     
}
/* Make the image fully responsive */
.carousel-inner img {
    width: 100%;
    height: 100%;
    
  }

 /* Container holding the image and the text */

  
  /* Bottom right text */
  .text-block {
    position: absolute;
    bottom: 10px;
    left: 20px;
    background-color: rgba(0, 0, 0, 0.7); 
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    width: 400px;
    height: 300px;
  }

  .text-block h2 {
      margin-top: 120px;
  }
/*.event-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    
}
.eventbox img{
    width: 350px;
    
    
}

.eventbox {
    background-color: #464E2E;
    border-radius: 10px;
    margin: 25px;
    color: white;
    text-align: center;
    font-weight: 400;
    position: absolute;
    top: 25%;
}

.eventbox span {
    text-transform: uppercase;
    font-weight: 600;
}

.event-nav {
    position: absolute;
    top: 100px;
}

.eventbox {
    transition: transform 0.5s
}

.eventbox:hover {
    transform: scale(1.2);
}
*/

  



  