html {
  height: 100%;
}

body {
  min-height: 100%;
}

.navbar {
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
  font-size: 12px;
  letter-spacing: 5px;
}

.nav-link {
  color: #FFFFF2;
}

.nav-link:hover {
  color: #E9E5D6;
}


.navbar ul li a:hover {
  background-color: #3A4026;
  color:#FFFFF2;
  box-shadow: inset 0em .3em 0em 0em #E9E5D6;
}

.jumbotron {
  margin: 0;
  height: 600px;
}

.jumbotron-image {
  background-image: url(bdbdbd.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-1 {
  background-color: #464E2E;
}

.bg-2 {
  background-color: #F1EEE4;
}

.bg-3 {
  background-color: #F1EEE4;
  padding-bottom: 15px;
}

#tour {
  padding-bottom: 15px;
}

.up-arrow {
  color: #FFFFF2;
}

.up-arrow:hover {
  color: #E9E5D6;
}

footer p{
  color: #FFFFF2;
}
