html {
  height: 100%;
}

body {
  min-height: 100%;
}

nav {
  margin: 0px;
  padding: 0px;
}

nav .container-fluid {
  height: 100%;
  padding: 0px;
  margin: 0px;
}

.navbar {
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
  font-size: 12px;
  letter-spacing: 5px;
}

.h-100 {
  min-height: 100% !important;
  margin: 0px;
  padding: 0;
}

.nav-link {
  color: #FFFFF2;
  height: 100%;
}

.nav-link:hover {
  color: #E9E5D6;

}

.nav-item:hover {
  background-color: #3A4026 !important;
  color:#FFFFF2;
  box-shadow: inset 0em .3em 0em 0em #E9E5D6;
}

.navbar ul li a:focus {
  background-color: #464E2E;
  color:#FFFFF2;
}

.open .dropdown-toggle {
  background-color: #3A4026 !important;
  box-shadow: inset 0em .3em 0em 0em #E9E5D6;
}

.dropdown-menu li a {
  color: #000 !important;
}

.dropdown-menu li a:hover {
  background-color: #464E2E !important;
  color: #FFFFF2 !important;
  box-shadow: none !important;
}

.jumbotron {
  margin: 0;
  height: 600px;
}

.jumbotron-image {
  background-image: url(jumbo.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.news {
  background:#464E2E;
  color: white;
  font-size: 2.5rem;
  text-align: center;

}
.bg-1 {
  background-color: #464E2E;
}

.bg-2 {
  background-color: #F1EEE4;
  height: 600px;
}

.bg-3 {
  background-color: #F1EEE4;
  padding-top: 15px;
  padding-bottom: 15px;
}

.bg-ft {
  background-color: #3A4026;
  padding-top: 20px;
}

.bg-4 {
  background-color: #FFFFF2;
}

.fa-map-marker, .fa-phone, .fa-envelope, .fa-chevron-up {
  font-size: 1rem;
  color: white;
}

.ft p {
  font-size: 20px;
}

.fa-circle {
  color: #464E2E;
  font-size: 3rem;
  margin-top: 0;
  margin-bottom:0;
}

footer .fa-circle {
  color: #3A4026;
  font-size: 2.3rem;
  margin-top: 0;
  margin-bottom:0;
}

.fc {
  margin-bottom: 20px;
}

.form-control:focus {
  border-color: #464E2E !important;
  box-shadow: 0 0 0 0.2rem rgba(70, 78, 46, 0.25) !important;
}

.btn{
  background-color: #464E2E;
  padding: 12px;
  width: 100px;
  color: white;
  border: none !important;
  font-weight: 600;
}

.btn:hover {
  background-color: #3A4026 !important;
  padding: 12px;
  width: 100px;
  color: #FFFFF2 !important;
  border: none !important;
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 242, 0.25) !important;
}

.btn:focus {
  color: #FFFFF2 !important;
}


#tour {
  padding-bottom: 15px;
}

.fa-chevron-up {
  color: #FFFFF2;
}

.up-arrow:focus {
  color: #FFFFF2;
  border: 2px #6b6b6b;
  border-radius: 50%;
  padding: 15px;
}

.up-arrow:hover {
  color: #E9E5D6;
  border: 1px #FFFFF2 solid;
  border-radius: 50%;
  padding: 15px;
}

footer p{
  color: #FFFFF2;
}

.comment {
  margin-top: 10px !important;
}
