html {
  height: 100%;
}

body {
  min-height: 100%;
}

.navbar {
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
  font-size: 12px;
  letter-spacing: 5px;
}

.nav-link {
  color: #FFFFF2;
}

.nav-link:hover {
  color: #E9E5D6;
}

.navbar ul li a:hover {
  background-color: #3A4026 !important;
  color:#FFFFF2;
  box-shadow: inset 0em .3em 0em 0em #E9E5D6;
}

.navbar ul li a:focus {
  background-color: #464E2E;
  color:#FFFFF2;
}

.open .dropdown-toggle {
  background-color: #3A4026 !important;
  box-shadow: inset 0em .3em 0em 0em #E9E5D6;
}

.dropdown-menu li a {
  color: #000 !important;
}

.dropdown-menu li a:hover {
  background-color: #464E2E !important;
  color: #FFFFF2 !important;
  box-shadow: none !important;
}

.jumbotron {
  margin: 0;
  height: 600px;
}

.jumbotron-image {
  background-image: url(bdbdbd.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-1 {
  background-color: #464E2E;
}

.bg-2 {
  background-color: #F1EEE4;
}

.bg-3 {
  background-color: #F1EEE4;
  padding-bottom: 15px;
}
.row .col-md-4, .glyphicon glyphicon-map-marker, .glyphicon glyphicon-phone, .glyphicon glyphicon-envelope {
  font-size: 2rem;
}

.row .glyphicon {
  background-color: #464E2E;
  font-size: 24px;
  color: white;
  border-radius: 50%;
  padding: 16px;
}

.form-control:focus {
  border-color: #464E2E !important;
  box-shadow: 0 0 0 0.2rem rgba(70, 78, 46, 0.25) !important;
} 

.btn{
  background-color: #464E2E;
  padding: 12px;
  width: 100px;
  color: #FFFFF2;
}

.btn:hover {
  background-color: #3A4026 !important;
  padding: 12px;
  width: 100px;
  color: #FFFFF2 !important;
  border: 1px solid #FFFFF2 !important;
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 242, 0.25) !important;
}

.btn:focus {
  color: #FFFFF2 !important;   
}


#tour {
  padding-bottom: 15px;
}

.up-arrow {
  color: #FFFFF2;
}

.up-arrow:focus {
  color: #FFFFF2;
}

.up-arrow:hover {
  color: #E9E5D6;
}

footer p{
  color: #FFFFF2;
}
