.form-signin {
    width: 100%;
    max-width: 350px;
    padding: 15px;
    margin: auto;
  }
  .form-signin .checkbox {
    font-weight: 400;
  }
  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .btn{
    background-color: #464E2E;
    padding: 12px;
    width: 100%;
    color: white;
    margin-top: 20px;
  }
  
  .btn:hover {
    background-color: #3A4026 !important;
    padding: 12px;
    width: 100%;
    color: #FFFFF2 !important;
    border: 1px solid #FFFFF2 !important;
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 242, 0.25) !important;
  }
  
  .btn:focus {
    color: #FFFFF2 !important;   
  }
  
  .height {
    min-height: 100vh;
  }

  .w-100{
    width: 100% !important;
  }

  .flex {
      display: flex;
  }